a {
  text-decoration: none
 } 

html {
	font-size: 9px;
}
.green-btn {
	width: 80%;
	justify-content: center;
	background: #000000;
	color: var(--brand);
	padding: 18px 30px;
	border-radius: 15px;
	font-size: 17px;
	font-weight: 420;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.green-btn:active {
	background: #ffffff;
	color: var(--brand);
}

body {
	background: #000000;
	font-family: 'Calibri', sans-serif;
	font-size: 17px;
	font-weight: 420;
	line-height: 1.58;
	color: white;
	font-size: 1.6rem;
}

button {
	border: none;
	transition: all 0.25s;
}